@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Space Grotesk', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color: #000;
  background-color: #f3f4f6;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: inherit;
  background-color: #f3f4f6;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-left: 2px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #a29f9f;
}